@font-face {
  font-family: "Impulse";
  src: url("./assets/impulse-font/Impulse-Regular.ttf");
}

/* * { font-family: "Impulse", sans-serif; } */
html, body { height: 100%; }
body { overflow-x: hidden; }
.bg-overlay { background-color: rgba(0, 0, 0, 0.45); }
.darkbackground { background-color: rgba(17, 17, 17, 0.75); }
.valid-feedback,
.invalid-feedback { font-size: 14px; }
.App { text-align: center; }
.pointer { cursor: pointer; }
.white { color: white; }
.overview-items { cursor: default; }
.overview-items:hover { background-color: #aecdd1; }
.bg:hover { background-color: #1e5673; }
.span-col-8 { grid-column: span 8 / auto; }
.bg { cursor: pointer; transition: 200ms all linear; }
::selection { background-color: yellow; color: black; }
::-webkit-scrollbar { width: 5px; height: 5px; }
::-webkit-scrollbar-track { background: #4287f5; }
::-webkit-scrollbar-thumb { background: #68b06f; }
